@use '../utilities/mixins';
@use '../utilities/functions';

/*  Footer */
footer {
    position: relative;
    background-color: $color-tertiary;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
    margin: 0 auto;
}

.pie_pag {
    width: 100%;
    padding: functions.pixeles-em(64) functions.pixeles-em(64) functions.pixeles-em(48);
    @include flexible_flow-3(flex, row, wrap, space-between);
    gap: 3em;
    @include movil(960px){
        &{
            gap: functions.pixeles-em(32);
        }
    }

    @include movil(){
        &{
            @include flexible_flow-2(flex, column, wrap);
            padding: functions.pixeles-em(64) 8.5% functions.pixeles-rem(32);
        }
    }

    & ul {
        @include flexible-3(flex, column, space-evenly);
        padding-left: 0;
    }

    & ul .link_secc a {
        display: flex;
        cursor: pointer;
        align-items: center;
        @include movil(1024px){
            cursor: none;
        }
    }

    // Contenido 1 pie pag
    &__cont1 {
        width: 28%;
        margin-bottom: functions.pixeles-em(16);
        display: flex;
        flex-direction: column;
        @include movil(960px){
            width: 80%;
            margin: 0 auto;
        }
    }

    h3 {
        font-family: $font-primary;
        color: $color-primary;
        font-size: functions.pixeles-rem(20.8);
        font-weight: normal;
    }

    & img, h3 {
        margin-bottom: functions.pixeles-em(32);
    }

    &__cont1 &__logo {
        position: relative;
        width: functions.pixeles-em(168);
    }
    &__cont1 &__logo, h3{
        @include movil_min(320px){
            margin-bottom: functions.pixeles-em(8);
        }
        @include movil_min(770px){
            margin-bottom: functions.pixeles-em(16);
        }
    }

    &__cont1 .link_secc a, &__cont1 &__text_gen {
        padding: 10px 0;
        color: $color-primary;
        font-size: functions.pixeles-rem(16);
    }

    // Contenido 2 pie pag
    &__cont2 {
        @include flexible_flow-3(flex, row, wrap, space-between);
        gap: 3em;
        @include movil(960px){
            gap:functions.pixeles-em(32);
            width: 80%;
            margin: 0 auto;
        }

    }

    @include movil(){
        &__cont1{
            width: 100%;
        }
        &__cont2{
            width: 100%;
        }
    }

    &__cont2 .cont_pie_selec {
        width: auto;
    }

    &__cont2 .cont_pie_selec h2 {
        font-family: $font-primary;
        color: $color-primary;
        font-size: functions.pixeles-rem(20.8);
        font-weight: normal;
    }

    &__cont2 .link_secc a, &__cont2 .text_gen_pie {
        padding: 10px 0;
        color: $color-primary;
        font-size: functions.pixeles-rem(16);
        text-decoration: none;        
    }

    @include movil(){
        &__cont1 .link_secc a, &__cont1 &__text_gen{
            font-size: functions.pixeles-rem(14);
        }
        &__cont2 .link_secc a, &__cont2 .text_gen_pie{
            font-size: functions.pixeles-rem(14);
            padding: 8px 0;
        }
    }

    &__cont2 .icn {
        width: 32px;
        height: 32px;
        margin-right: 5px;
        background-repeat: no-repeat;
        flex: none;
    }

    @include movil(){
        &__cont2 div:nth-child(1){
            padding-left: 0em;
        }
        &__cont2 .cont_pie_selec{
            width: 100%;
        }
    }

    &__cont2 .bi_mail {
        background-image: url(../img/imgs_gen/mail.svg);
    }
    &__cont2 .bi_wht {
        background-image: url(../img/imgs_gen/whatsapp.svg);
    }
    &__cont2 .bi_fb {
        background-image: url(../img/imgs_gen/facebook.svg);
    }
    &__cont2 .icn.bi_ig {
        background-image: url(../img/imgs_gen/Instagram.svg);
    }
}
