@use '../utilities/mixins';
@use '../utilities/functions';

form label{
    color: $color-primary;
}

.form{
    padding: functions.pixeles-em(48) functions.pixeles-em(48) functions.pixeles-em(32);
    border-radius: 21px;
    border: 1px solid $color-primary;
}

.legend{
    font-family: $font-secundary;
    color: $color-fifth;
    margin-bottom: 1em;
}

.btn_form{
    padding: .6em .8em;
    background: $background-secundary;
    color: $color-tertiary;
    border-radius: .8em;
    border: none;
    &:hover{
        background: $background-tertiary;
    }
}