/* Contenido General */
.main_cont{

    &__ft1 {
        font-family: $font-primary;
    }

    &__ft2-light {
        font-family: $font-quaternary;
    }

    &__ft3-Regular {
        font-family: $font-tertiary;
        line-height: normal;
    }

    &__ft4-Regular{
        font-family: $font-secundary;
    }

    &__c--primary{
        color: $color-primary;
    }

    &__c--secundary{
        color: $color-secundary;
    }

    &__c--tertiary{
        color: $color-tertiary;
    }

    &__c--quaternary{
        color: $color-quaternary;
    }

    &__c--fifth{
        color: $color-fifth;
    }

    &__bg--fifth{
        background-color: $background-fifth;
    }
}
/* Fin Contenido General */