@use '../utilities/mixins';
@use '../utilities/functions';
/* Pagina Productos */

.main_cont{

    &_img_gen{
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        // aspect-ratio: ;
    }
}
/* Fin de Pagina Productos */
