@use '../utilities/mixins';
@use '../utilities/functions';
/* Pagina Productos */

.main_cont{

    &__filter_tabs{
        margin: functions.pixeles-em(64) auto;
    }

    &__cards{
        gap: functions.pixeles-em(32);
        padding-top: functions.pixeles-em(48);
        position: relative;
        margin: 0 auto;
        @include movil(){
            padding-top: 0;
        }
    }

    &__card_gen{
        @include flexible_flow-3(flex, row, wrap, space-between);
        gap: functions.pixeles-em(48);
        @include movil(){
            gap: functions.pixeles-em(32);
        }
    }

    &__card{
        padding-right: 0px;
        padding-left: 0px;
        border-radius: .8em;
        width: functions.pixeles-em(264);
        @include movil(){
            width: functions.pixeles-em(224);
        }
        @include movil(576px){
            margin: 0 auto;
        }
    }

    &__img_gen{
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: .8em .8em 0 0;
    }
    
    &__text_title{
        font-size: functions.pixeles-rem(16.8);
    }

    &__space_line_v{
        @include flexible_flow-2(flex, row, wrap);
        gap: functions.pixeles-em(1.84);
        margin-bottom: functions.pixeles-em(8);
    }

    &__text_precio{
        font-size: functions.pixeles-rem(20);
    }

    &__text_small{
        font-family: $font-quaternary;
        font-size: functions.pixeles-rem(16);
        margin-right: functions.pixeles-em(8);
        text-decoration: line-through;
        color: #7a7e83;
    }
}
/* Fin de Pagina Productos */
